<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Movies RDF - Home</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/heroic-features.css" rel="stylesheet">.
  <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body
  style="background-image: url('/back.png'); background-repeat: repeat-y; background-size: contain; background-position: center center;">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/home">
        <img src="/logo.png" height=35></a>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link big-text" href="/home">Home</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link big-text" href="/movie">App</a>
        </li>
        <li class="nav-item">
          <a class="nav-link big-text" href="/data" target="_blank"> Data</a>
        </li>

      </ul>

    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">Welcome to Movies RDF</h1>
      <p class="lead">This application is a school project for the subject Web Based Systems. The application uses a
        movie dataset, that has been converted to RDF format. Using the application you can search, filter and sort
        movies based on their metadata. You can also see lists for genres and production companies. </p>
      <a href="/movie" class="btn btn-primary btn-lg">Go to app</a>
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img height=200 class="card-img-top" src="/top.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Most popular</h4>
            <p class="card-text">Start exploring the most popular movies in the dataset.</p>
          </div>
          <div class="card-footer">
            <a href="/movie?results=100&sortType=4&asc=false" class="btn btn-primary">Top 100</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img height=200 class="card-img-top" src="/genres.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Genres</h4>
            <p class="card-text">Start exploring the dataset by genre.</p>
          </div>
          <div class="card-footer">
            <a href="/genre" class="btn btn-primary">All genres</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img height=200 class="card-img-top" src="/random.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Random</h4>
            <p class="card-text">Get information about a random movie from the dataset.</p>
          </div>
          <div class="card-footer">
            <a href="/movie?movieId=0" class="btn btn-primary">Random movie</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img height=200 class="card-img-top" src="/data.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Data</h4>
            <p class="card-text">Open the dataset in a new tab.</p>
          </div>
          <div class="card-footer">
            <a href="/data" class="btn btn-primary">Data</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <footer class="py-1 bg-dark fixed-bottom">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Ivan Angelovski for <b>Web Based Systems
        </b>&nbsp; 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>