<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Movies RDF</title>
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/heroic-features.css" rel="stylesheet">
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body
    style="background-image: url('/back.png'); background-repeat: repeat-y; background-size: contain; background-position: center center;">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/home">
                <img src="/logo.png" height=35></a>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link big-text" href="/home">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link big-text" href="/movie">App</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link big-text" href="/data" target="_blank">Data</a>
                </li>

            </ul>

        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between pt-3">
        <div class="container">

            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/movie">Movies</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/genre">Genres</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/production">Productions</a>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Sort by
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/production?sortType=1">Name</a>
                        <a class="dropdown-item" href="/production?sortType=2">Number of movies</a>
                        <a class="dropdown-item" href="/production?sortType=3">Revenue</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Results
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/production?limit=10">10</a>
                        <a class="dropdown-item" href="/production?limit=25">25</a>
                        <a class="dropdown-item" href="/production?limit=50">50</a>
                        <a class="dropdown-item" href="/production?limit=100">100</a>
                        <a class="dropdown-item" href="/production?limit=500">500</a>
                        <a class="dropdown-item" href="/production?limit=0">All</a>
                    </div>
                </li>
            </ul>
            <form th:action="@{/production}" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" name="search" id="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success mr-sm-2 my-2 my-sm-0" type="submit">Search</button>
                <a class="btn btn-outline-danger my-2 my-sm-0" href="/production?clear=1">Clear</a>
            </form>


        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="d-flex" id="wrapper">
            <!-- Page Content -->
            <div id="page-content-wrapper">

                <div class="container-fluid">
                    <div class="row">

                        <div class="col-sm-6 mt-3" th:each="company: ${companylist}">
                            <div class="card">

                                <div class="card-header">

                                    <h5 class="cut-text mb-0 mt-2" th:text="${company.name}"></h5>

                                </div>

                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3 d-flex align-items-center">
                                            <span class="card-text">Movies: </span>
                                            <span class="card-text badge badge-pill badge-light ml-1"
                                                th:text="${company.numberMovies}"></span>

                                        </div>
                                        <div class="col-sm-5 d-flex align-items-center">
                                            <span class=" card-text">Revenue: </span>
                                            <span class="card-text badge badge-pill badge-light ml-1"
                                                th:text="${company.revenueString}"></span>
                                        </div>
                                        <div class="col-sm-4 d-flex align-items-center">

                                            <a th:href="'/movie?prod='+${company.name}" class="btn btn-info">See
                                                movies</a>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>





                    </div>
                </div>
            </div>
            <!-- /#page-content-wrapper -->

        </div>
        <!-- /#wrapper -->
    </div>
    <!-- /.container -->

    <br />
    <br />
    <br />
    <br />

    <!-- Footer -->
    <footer class="py-1 bg-dark fixed-bottom">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; <b>Ivan Angelovski</b> for Web Based Systems 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>

</body>

</html>